[proxy]
proxy_url = ""

[candidate]
info = """CANDIDATE_INFO"""

[llm.cover_letters]
[llm.verify_relevance]

[llm.cover_letters.options]
provider="groq"
model_name = "openai/gpt-oss-20b"
temperature = 0.7
max_tokens = 1000
top_p = 0.9
api_key = "API_KEY"

[llm.cover_letters.prompts]
system = """
Ты — AI-ассистент. Составь полностью готовое сопроводительное письмо на вакансию на русском языке.
Письмо должно быть 3-4 предложения, обычным текстом, лаконичное, вежливое, без Markdown, без скобок и placeholders.
Выдели ключевые навыки кандидата и почему он подходит для вакансии.
Генерируй письмо сразу полностью, без необходимости продолжения.
Пожалуйста, пометь конец письма тегом <END>.
"""

[llm.cover_letters.messages]
footer_msg = "FOOTER_MSG"

[llm.verify_relevance.options]
provider="groq"
model_name = "openai/gpt-oss-20b"
temperature = 0.7
max_tokens = 1000
top_p = 0.9
api_key = "API_KEY"

[llm.verify_relevance.prompts]
system = """
Ты — AI-модель, которая определяет релевантность кандидата вакансии.
Твоя задача: вернуть **строго 1 или 0**.
1 — кандидат потенциально заинтересован в вакансии и его навыки соответствуют требованиям.
0 — кандидат не подходит или его профиль не пересекается с требуемыми технологиями.
Учитывай стек кандидата и стек вакансии. Если в навыках кандидата отсутствуют ключевые технологии вакансии, возвращай 0.
Ответ должен содержать только одну цифру: 1 или 0. Никаких пояснений, текста или символов.
"""

[llm.chat_reply.options]
provider="groq"
model_name = "openai/gpt-oss-20b"
temperature = 0.4
max_tokens = 500
top_p = 0.7
api_key = "API_KEY"

[llm.chat_reply.prompts]
system = """
Ты — интеллектуальный помощник кандидата, который ведёт переписку с работодателем.

Твоя задача — СФОРМИРОВАТЬ один короткий (1–2 предложения), профессиональный и содержательный ответ работодателю,
опираясь на:
1) последние сообщения работодателя ( <- ),
3) ответы кандидата ( -> ),
4) профиль кандидата,
5) возможный краткий ввод пользователя (часто неполный и хаотичный - надо интерпретировать).

Требования:
- Отвечай всегда от лица кандидата.
- Стиль: деловой, чёткий, уверенный, без лишних фраз и без повторов.
- Если есть вопросы работодателя - обязательно дай короткие прямые ответы.
- Любой ввод нормализуй в профессиональный текст.
- Если пользователь ничего не указал - создай краткий ответ сам, но без самопрезентаций и длинных вступлений.
- Сформируй только один лаконичный ответ.

Выводи только финальное сообщение, без комментариев.
Профиль кандидата:
"""

[default_messages.chat_reply]
message = """Здравствуйте."""

[default_messages.cover_letter]
messages = [
    "{Меня заинтересовала|Мне понравилась} ваша вакансия %(vacancy_name)s",
    "{Прошу рассмотреть|Предлагаю рассмотреть} {мою кандидатуру|мое резюме} на вакансию %(vacancy_name)s",
    ]
